<title><% if (typeof title != "undefined") { %>notatex | <%= title%><%} else {%>Best note taking app | NotaTex<%}%></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/tcss.css' />

<link rel="icon" type="image/ico" sizes="256x256" href="/favicon.ico">

<%- include('jsUtils'); %>
<%- include('firebase'); %>

<script>
    window.addEventListener("load", function () {
        // set theme
        switch (getCookie("theme")) {
            case "minimalist":
                document.body.classList.add("theme-minimalist");
                break;
        }
    });
</script>
