<div class="flex">
    <div class="inline-block" onclick="window.location='/';">
        <h1 class="mb-0 inline-block">nota<span class="text-blue-400">tex</span></h1><br>
        <span>twoja stara</span>
    </div>
    <div class="hidden flex self-center ml-auto place-self-end" id="buttonLogin">
        <button onclick="window.location='/login';">Log in</button>
    </div>
    <div class="hidden inline-block self-center ml-auto place-self-end" id="infoLogged">
        <h3 class="mt-0" id="userInfo"></h3>
        <button onclick="firebase.auth().signOut();" class="float-right">Sign out</button>
    </div>
</div>
