<div class="fixed inset-y-0 left-0 bg-[rgba(0,0,0,0.4)]
            w-full h-full  
            px-0 py-20 z-50">

  <div class="w-10/12 md:w-9/12 lg:w-fit min-h-fit max-h-full bg-sky-700
   px-8 md:px-12 py-4 mx-auto
   overflow-y-auto relative rounded-xl">
      <svg onclick="this.parentElement.parentElement.remove();" xmlns="http://www.w3.org/2000/svg" 
      class="h-7 w-7 text-white absolute top-5 right-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    
      <h1 class="mb-0"><%= title %></h1>
      <p class="mt-0"><%= subtitle %></p>
      <div class="popup-content break-words"><%- content %></div>
  </div>
</div>
