<div class="flex">
    <!-- logo -->
    <div id="logo" class="inline-block min-w-fit" onclick="window.location='/';">
        <span class="mb-0 inline-block text-4xl font-bold">nota<span class="text-blue-400">tex</span></span><br>
        <span>twoja stara</span>
    </div>

    <!-- login button -->
    <div class="hidden flex self-center ml-auto place-self-end" id="buttonLogin">
        <button onclick="window.location='/login';">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
            </svg>
            Log in
        </button>
    </div>

    <!-- account info -->
    <div class="hidden inline-block self-center ml-auto place-self-end flex flex-wrap place-content-end overflow-hidden pl-4" id="infoLogged">
        <!-- profile icon -->
        <a href="/account" class="flex overflow-hidden text-base items-center py-1">
            <span class="hidden lg:block lg:pr-1.5">Logged in as </span><span class="mt-0 truncate overflow-hidden" id="userInfo"></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="self-center h-6 w-6 min-w-[1.5rem] ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
        </a>

        <!-- settings icon -->
        <a href="/settings" class="flex place-content-end text-base p-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="self-center h-6 w-6 min-w-[1.5rem]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </a>

        <!-- sign out button -->
        <div class="basis-full ml-auto mt-2 flex place-items-end">
            <button onclick="firebase.auth().signOut();" class="ml-auto max-w-max">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                Sign out
            </button>
        </div>
    </div>
</div>
