<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div id="content">

      <div class="mb-12">
        <%- include('partials/topBar'); %>
      </div>

      <h1>Zastosowanie starego w HTML-u</h1>
      <p>(brak)</p><br>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus mattis neque non vehicula. Sed et urna nibh. Nam gravida eget orci eget maximus. Suspendisse nulla tellus, eleifend dapibus velit nec, dictum tincidunt risus. Aenean sagittis, ante non consectetur tempor, massa nunc vehicula nunc, eu luctus quam ex nec felis. Sed fringilla mollis risus, id aliquet justo vehicula sed. Fusce imperdiet mi dolor, non viverra mi condimentum vitae. Mauris malesuada libero in consequat commodo. Suspendisse sollicitudin suscipit nisi a efficitur. Maecenas malesuada semper eros sed pellentesque. Donec finibus felis in dolor dictum tristique. Aliquam orci mauris, suscipit nec consequat nec, volutpat malesuada nunc. Vestibulum et neque nec libero varius dictum. Integer lorem diam, auctor sed congue non, gravida eget nunc.
      <br>
      Vivamus at dignissim mi. Duis sit amet ullamcorper odio. Quisque ac interdum metus, sed pretium mauris. Donec convallis dolor sit amet massa consectetur, id consequat diam lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris dictum facilisis orci, egestas efficitur tellus finibus sit amet. Donec varius, quam ac ornare mollis, neque risus dictum mi, quis vehicula leo velit at odio.
      <br>
      Quisque mollis sapien quis dolor ullamcorper egestas. Aenean non magna condimentum, faucibus est id, pellentesque dolor. Donec ac sapien faucibus, ullamcorper sapien mollis, commodo lorem. Nullam eleifend nunc augue. Aenean volutpat vitae tellus sit amet rutrum. Sed dapibus tortor ac cursus varius. Pellentesque et hendrerit dui. In hac habitasse platea dictumst. Donec massa enim, sollicitudin non purus in, volutpat gravida ipsum. In hac habitasse platea dictumst.
      <br>
      Fusce ac tortor luctus, luctus felis cursus, scelerisque justo. Curabitur aliquet cursus consequat. Phasellus ut auctor arcu. Nunc eget sapien vel dui vulputate vehicula. Pellentesque facilisis pulvinar turpis, eu scelerisque lectus convallis et. Sed ultrices consectetur nulla nec gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      <br>
      Pellentesque dolor nisi, consectetur a semper eu, hendrerit in nulla. Cras ac posuere enim, at varius tortor. Suspendisse gravida tincidunt lacus, eu vulputate mauris porta quis. Nulla sodales, velit et ultrices semper, orci ante pretium elit, ac accumsan augue felis nec neque. Curabitur eu bibendum turpis. Etiam vehicula libero orci, quis congue massa vehicula eget. Vestibulum volutpat lectus in orci dapibus ultricies. Pellentesque et pellentesque est. Nullam viverra sit amet quam nec maximus. Donec dapibus, ante sit amet finibus pulvinar, nisi libero finibus mi, at pretium erat ligula sed ex. Mauris nec felis dignissim enim dignissim dignissim quis eu leo.
    </div>
  </body>
</html>
