<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('partials/head'); %>
    </head>
    <body class="bg-slate-800 text-white
                   w-10/12 md:w-1/2 mx-auto mt-12">

        <div class="mb-24">
            <div class="mb-12">
                <%- include('partials/logo'); %>
            </div>

            <div class="hidden" id="loginFirebase"></div>
        </div>
    </body>
</html>
