<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>

        <!--  logged in/out handler  -->
        <script>
            loginInnit = function() {
                firebase.auth().onAuthStateChanged(function(user) {
                    if (!user) {
                        // User is signed out.
                        document.getElementById("loginFirebase").classList.remove('hidden');
                        ui.start('#loginFirebase', uiConfig);
                    }
                    else {
                        // User is signed in.
                        window.location="/account";
                    }
                }, function(error) {
                    console.log(error);
                });
            };

            window.addEventListener('load', loginInnit);
        </script>
    </head>
    <body>
        <div id="content">

            <div class="mb-12">
                <%- include('partials/topBar'); %>
            </div>

            <div class="hidden" id="loginFirebase"></div>
        </div>
    </body>
</html>
