<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('partials/head', { title: title }); %>
    </head>
    <body class="bg-slate-800 text-white
                   w-10/12 md:w-1/2 mx-auto mt-6 md:mt-12">

        <div class="mb-16 md:mb-24">
            <div>
                <%- include('partials/logo'); %>
            </div>

            <h1 class="my-7 md:my-10"><%= title %></h1>

            <div id="note">
                <%- content %>
            </div>
        </div>
    </body>
</html>
