@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full min-h-screen;
}
#content {
    @apply w-10/12 md:w-1/2 mx-auto pt-12 pb-24;
}

h1 {
    @apply text-4xl mb-4 font-bold;
}
h3 {
    @apply text-2xl;
}

p {
    @apply my-2;
}

button {
    @apply px-4 py-2 rounded-2xl hover:brightness-75 transition-all duration-200 bg-button-color;
}

/* themes */
    /* default theme */
        body {
            @apply bg-slate-800 text-white;

            --button-color: rgb(96 165 250);
            --green-button-color: rgb(34 197 94);
            --radio-label-color: rgb(37 99 235);
        }

        .infoElement {
            @apply brightness-90;
        }

    /* minimalist theme */
        .theme-minimalist {
            @apply bg-minimalist-gray text-white;

            --button-color: rgb(37 99 235);
            --green-button-color: rgb(22 163 74);
            --radio-label-color: rgb(29 78 216);
        }

        .theme-minimalist .infoElement {
            @apply brightness-100;
        }

        /* note */
        .theme-minimalist #note > *:is(h1, h2, h3, h4, h5, h6) {
            @apply text-minimalist-text;
        }

        .theme-minimalist h1 {
            @apply text-2xl;
            font-variant: small-caps;
        }
        .theme-minimalist #note h2 {
            @apply text-xl;
        }
        .theme-minimalist #note h3 {
            @apply text-lg;
        }

        .theme-minimalist #note > *:is(h4, h5, h6) {
            font-variant: small-caps;
        }
        .theme-minimalist #note h4 {
            @apply text-base;
        }
        .theme-minimalist #note h5 {
            @apply text-sm;
        }
        .theme-minimalist #note h6 {
            @apply text-xs;
        }

/* index css */
    /* featured notes */
    .feat-note {
        /* small:1 large:2 xlarge:3 per line */
        @apply basis-auto grow w-3/4 lg:w-4/12 xl:w-1/4
            bg-button-color hover:brightness-75
            px-6 pt-2 pb-4 mx-2 my-3
            rounded-2xl;
    }
    .feat-note h4 {
        @apply text-xl mt-0 mb-2
        whitespace-normal;

        font-variant: small-caps;
    }
    .feat-note div {
        @apply mt-0 inline-block max-w-full
        line-clamp-2 md:line-clamp-3
        whitespace-normal truncate;
    }

/* account css */
    .infoElement {
        @apply bg-button-color
        basis-full mb-12
        px-6 md:px-20 py-4 rounded-2xl;
    }
    .infoElement p, .infoElement {
        @apply overflow-hidden truncate;
    }

/* settings css */
    #themeSettings .radio-label {
        @apply bg-radio-label-color
        px-4 py-2;
    }
    #themeSettings input {
        @apply hidden;
    }

    #savePreferences {
        @apply bg-green-button-color;
    }

/* note css */
    #note ul {
        @apply list-disc;
    }
    #note li {
        @apply ml-4;
    }

    #note h1, h2, h3, h4, h5, h6 {
        @apply font-bold my-3;
    }
    #note h1 {
        @apply text-3xl text-red-500
        mt-6 pb-2 border-b-4 border-slate-700;
    }
    #note h2 {
        @apply text-2xl text-orange-500;
    }
    #note h3 {
        @apply text-xl text-yellow-500;
    }
    #note h4 {
        @apply text-lg text-lime-600;
    }
    #note h5 {
        @apply text-base text-emerald-500;
    }
    #note h6 {
        @apply text-base text-sky-500;
    }

    #note table {
        @apply table-auto border border-black;
    }
    #note th {
        @apply border-2 border-zinc-900 px-2 py-1;
    }
    #note td {
        @apply border-2 border-zinc-900 px-2 py-1;
    }
